body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}
.App {
  width: 100%;
}
.calculator-section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.calculator-moto {
  text-align: center;
}

.calculator-container {
  display: grid;
  grid-column-start: 3;
  grid-column-end:4;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3px;
  width: 60%;
  height: 50%;
  background-color: gray;
  padding: 1px;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.calculator-container > div {
  text-align: center;
  padding: 15px 10px;
  font-size: 30px;
  cursor: pointer;
}

.calc-result {
  height: 60px;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  background-color: #858694;
  color: rgb(255, 255, 255);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 4;
  cursor: pointer;
}

.pad {
  background-color: #e0e0e0;
  cursor: pointer;
}

.operator {
  background-color: #f5913e;
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  right: 0;
  left: 0;
  background: #858694;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav{
  width: 40%;
}

#root {
  width: 100%;
  height: 100vh;
  margin-top: 15%;
}

li {
  list-style-type: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.qotes-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 60px;
}

.homepage-content {
  width: 60%;
}

.quotes-body {
  align-self: center;
}

.active {
  font-size: 2rem;
}

.pad:hover {
  background: silver;
  color: black;
}

.pad:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: red;
}