body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}

.calculator-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3px;
  background-color: gray;
  width: 34vw;
  padding: 1px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.calculator-container > div {
  text-align: center;
  padding: 15px 10px;
  font-size: 30px;
  cursor: pointer;
}

.calc-result {
  height: 60px;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  background-color: #858694;
  color: rgb(255, 255, 255);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 4;
  cursor: pointer;
}

.pad {
  background-color: #e0e0e0;
  cursor: pointer;
}

.operator {
  background-color: #f5913e;
  cursor: pointer;
}